.basic-info__userpic {
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-top: 7%;

    border-radius: 50%;
    border: 1px solid #006cb4;
}

.basic-info__img {
	width: 150px;
    height: 150px;
    background: #006cb4;
    border-radius: 50%;
}

.basic-info__name {
	margin-top: 5%;
	margin-bottom: 0;
    font-family: 'MyriadPro-LightSemiExt', sans-serif;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.basic-info__surname {
    margin: 0;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.basic-info__position {
    margin-top: 5px;
    font-family: 'MyriadPro-Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 900px) {
	.basic-info__userpic {
		margin-top: 17%;
    	margin-left: 33%;
	}

	.basic-info__name {
    	margin-left: 28%;
    	font-size: 35px;
    	text-align: left;
	}

	.basic-info__surname {
		margin-left: 27%;
	    margin-top: -4px;
	    font-size: 40px;
	    text-align: left;
	    letter-spacing: 0.5px;
	}

	.basic-info__position {
		text-align: left;
    	margin-left: 34%;
	}
}

@media (min-width: 1340px) {
	.basic-info__userpic {
    	margin-top: 18%;
    	width: 226px;
    }

	.basic-info__img {
	    width: 224px;
    	height: 224px;
	}

	.basic-info__name {
		font-size: 50px;
	    margin-top: 6.5%;
	    letter-spacing: 1px;
	}

	.basic-info__surname {
		font-size: 60px;
	}

	.basic-info__position {
		font-size: 23px;
	}
}

@media (min-width: 1800px) {
	.basic-info__userpic {
		width: 313px;
    	padding: 18px;
	}

	.basic-info__img {
		width: 311px;
    	height: 313px;
	}

	.basic-info__name {
	    font-size: 72px;
	    letter-spacing: 1.2px;
	}

	.basic-info__surname {
	    font-size: 86px;
	    margin-top: -10px;
	}

	.basic-info__position {
	    font-size: 33px;
	    margin-top: 11px;
	}
}