.education__title {
	&::before {
		content: "";
	    background-position-y: 0px;
	}
}

.education__title-item {
	color: #006cb4;

	& span {
		color: #000000;
	}
}

@media (min-width: 900px) {
	.education__title {
		padding-left: 13%;

		&::before {
			content: "";
			width: 64px;
    		height: 65px;
		    background-position-y: -122px;
		    background-position-x: -4px;
		}
	}
}

@media (min-width: 1340px) {
	.education.content__education {
		width: 85%;
	}

	.education__title {
		font-size: 41px;
		padding-left: 15%;
    	margin-top: 14%;

		&::before {
			content: "";
			top: -30px;
			background-position-y: -186px;
		}
	}
}