.experience__title {
	&::before {
		content: "";
	    background-position-y: -46px;
	}
}

.experience__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 900px) {
	.experience__title {
		padding-left: 18%;

		&::before {
			content: "";
			width: 64px;
    		height: 65px;
		    background-position-y: 0px;
		    background-position-x: -4px;
		}
	}
}

@media (min-width: 1340px) {
	.experience.content__experience {
		width: 85%;
		margin-top: 9%;
	}

	.list.experience__list {
		margin-top: 61px;
	}

	.list__item.experience__item {
		margin-top: 15px;
	}

	.experience__title {
		padding-left: 15%;
    	font-size: 38.5px;

		&::before {
			content: "";
			top: -28px;
		}
	}
}

@media (min-width: 1800px) {
	.experience__title {
	    padding-left: 15%;
	    margin-top: 11%;
	    font-size: 55px;

	    &::before {
			content: "";
			background-position-y: -8px;
		}
	}

	.list.experience__list {
	    margin-top: 93px;
	}

	.experience__title-item {
		& span {
			margin-left: 35px;
		}
	}
}