.software {
	margin-bottom: 15%;
}

.software__name {
	font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 15px;
	text-transform: uppercase;
}

.software__value {
	position: relative;
	width: 250px;
    height: 20px;
    background: #e7e7e7;

    &::before {
		content: "";
		position: absolute;
		width: 100px;
		height: 20px;
		background: #006cb4;
	}

	&--photoshop {
		&::before {
			content: "";
			width: 230px;
		}
	}

	&--dreamweaver {
		&::before {
			content: "";
    		width: 215px;
		}
	}

	&--illustrator {
		&::before {
			content: "";
    		width: 185px;
		}
	}

	&--after-effects {
		&::before {
			content: "";
			width: 172px;
		}
	}

	&--indesign {
		&::before {
			content: "";
			width: 190px;
		}
	}

	&--html-css {
		&::before {
			content: "";
			width: 230px;
		}
	}
}

.software__wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.software__inner {
	margin: auto;
}

.software__name {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
}

@media (min-width: 900px) {
	.software__title {
		padding-left: 18%;

		&::before {
			content: "";
			width: 64px;
    		height: 65px;
    		background-position-y: -62px;
		    background-position-x: -4px;
		}
	}

	.software__inner {
		margin: 0;
	}

	.software__name {
		text-align: left;
	}

	.software__value {
	    width: 165px;

		&--photoshop {
			&::before {
				content: "";
			    width: 175px;
			}
		}

		&--dreamweaver {
			&::before {
				content: "";
	    		width: 165px;
			}
		}

		&--illustrator {
			&::before {
				content: "";
	    		width: 140px;
			}
		}

		&--after-effects {
			&::before {
				content: "";
				width: 122px;
			}
		}

		&--indesign {
			&::before {
				content: "";
				width: 110px;
			}
		}

		&--html-css {
			&::before {
				content: "";
			    width: 186px;
			}
		}
	}
}

@media (min-width: 1000px) {
	.software__value {
		width: 200px;
	}	
}

@media (min-width: 1340px) {
	.software.content__software {
		width: 85%;
	}

	.software__title {
		font-size: 39px;
    	margin-top: -4px;
    	padding-left: 15%;

    	&::before {
			content: "";
			top: -21px;
    		background-position-y: -104px;
    	}
	}

	.software__wrapper {
		width: 98%;
    	margin-left: 2%;
    	margin-top: -4px;
	}
	
	.software__name {
		font-size: 23px;
	}

	.software__value {
    	width: 297px;
    	height: 29px;

    	&::before {
			content: "";
			height: 29px;
    	}
	}
}

@media (min-width: 1600px) {
	.software__value {
		width: 340px;
	}
}

@media (min-width: 1800px) {
	.software__title {
		font-size: 56px;

		&::before {
			content: "";
			background-position-y: -142px;
		}
	}

	.software__name {
	    margin-bottom: 32px;
	    font-size: 32px;
	}

	.software .software__value {
	    width: 415px;

	    &--photoshop {
			&::before {
				content: "";
			    width: 380px;
			}
		}

		&--dreamweaver {
			&::before {
				content: "";
	    		width: 342px;
			}
		}

		&--illustrator {
			&::before {
				content: "";
	    		width: 295px;
			}
		}

		&--after-effects {
			&::before {
				content: "";
				width: 252px;
			}
		}

		&--indesign {
			&::before {
				content: "";
				width: 232px;
			}
		}

		&--html-css {
			&::before {
				content: "";
			    width: 376px;
			}
		}
	}
}