.sliders__title {
  /*общие стили*/
  margin-top: 7%;
  margin-bottom: 9%;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 42px;
  color: #4f4f4f;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.slider {
  border-radius: 5px;
  background: #e5e5e5;
  background: -moz-linear-gradient(left top, #e5e5e5, #e5e5e5) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#e5e5e5), to(#e5e5e5));
  background: linear-gradient(left top, #e5e5e5, #e5e5e5);
  width: 320px;
  height: 5px;
}

.slider__inner {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

.slider__value,
.slider__wrapper {
  position: relative;
  width: 20px;
  top: -30px;
}

.slider__value {
  width: 27px;
  padding: 3px;
  top: -13px;
  left: -5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: Lato,sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  background: #e75735;
}

.slider__wrapper::after {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background: #e75735;
  border-radius: 50%;
}

.slider__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: -1px;
  border: 12px solid rgba(0,0,0,0);
  border-top-color: #e75735;
}

//-----------------------второй слайдер
.slider-two {
  position: relative; /*загрузка*/
  border-radius: 5px;
  background: #e5e5e5;
  background: -moz-linear-gradient(left top, #e5e5e5, #e5e5e5) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#e5e5e5), to(#e5e5e5));
  background: linear-gradient(left top, #e5e5e5, #e5e5e5);
  width: 310px;
  height: 5px;
  margin: 5px;
}

.thumb {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: -7px;
  background: #4eb7a8;
}

/*загрузка*/
.range-line {
  position: absolute;
  background-color: #4eb7a8;
  left: 0;
  right: 300px;
  top: 0px;
  height: 5px;
  border-radius: 10px 0 0 10px;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;

  & span {
    color: #d1d1d1;
    font-family: Lato,sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
}