section.contact.sidebar__contact
	h1.title.contact__title Contact
		span.line.contact__line
	div.contact__wrapper
		p.contact__text.contact__text--address Address 
			span Main Street, City.
		p.contact__text.contact__text--email E-mail
			span contact@domain.com
		p.contact__text.contact__text--phone Phone
			span 555-555-555
		p.contact__text.contact__text--website Website
			span www.yourweb.com