section.skills.sidebar__skills
	h1.title.skills__title Skills
		span.line.skills__line
	div.skills__wrapper
		p.skills__name Creative
		div.slills__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
			span
			span
		p.skills__name Teamwork
		div.slills__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
		p.skills__name Innovate
		div.slills__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
			span
			span
			span
			span
			span
		p.skills__name Communication
		div.slills__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span