section.skills
	h1.title.skills__title Skills
	div.skills__wrapper
		p.skills__name Creative
		div.slils__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
			span
			span
		p.skills__name Teamwork
		div.slils__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
		p.skills__name Innovate
		div.slils__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span
			span
			span
			span
			span
			span
		p.skills__name Communication
		div.slils__value
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span.active
			span