section.education
	h1.title.education__title Education
		span.line.education__line
	ul.education__list
		li.education__item
			h2.title-item.education__title-item Master Degree
				span // Feb 2011 - Jun 2014
			h3.subtitle.education__subtitle University name
			p.text-item.education__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li.education__item
			h2.title-item.education__title-item Master Degree
				span // Feb 2011 - Jun 2014
			h3.subtitle.education__subtitle University name
			p.text-item.education__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li.education__item
			h2.title-item.education__title-item Master Degree
				span // Feb 2011 - Jun 2014
			h3.subtitle.education__subtitle University name
			p.text-item.education__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li.education__item
			h2.title-item.education__title-item Master Degree
				span // Feb 2011 - Jun 2014
			h3.subtitle.education__subtitle University name
			p.text-item.education__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.