section.experience.content__experience
	h1.title.experience__title Experience
		span.line.experience__line
	ul.list.experience__list
		li.list__item.experience__item
			h2.title-item.experience__title-item Company name
				span // Feb 2011 - Jun 2014
			h3.subtitle.experience__subtitle Your job here
			p.text-item.experience__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li.list__item.experience__item
			h2.title-item.experience__title-item Company name
				span // Feb 2011 - Jun 2014
			h3.subtitle.experience__subtitle Your job here
			p.text-item.experience__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
		li.list__item.experience__item
			h2.title-item.experience__title-item Company name
				span // Feb 2011 - Jun 2014
			h3.subtitle.experience__subtitle Your job here
			p.text-item.experience__text-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
