section.software.content__software
	h1.title.software__title Software
		span.line.software__line
	div.software__wrapper
		div.software__inner
			p.software__name.software__name--photoshop Photoshop
			div.software__value.software__value--photoshop
		div.software__inner
			p.software__name.software__name--dreamweaver Dreamweaver
			div.software__value.software__value--dreamweaver
		div.software__inner
			p.software__name.software__name--illustrator Illustrator
			div.software__value.software__value--illustrator
		div.software__inner
			p.software__name.software__name--after-effects After effects
			div.software__value.software__value--after-effects
		div.software__inner
			p.software__name.software__name--indesign Indesign
			div.software__value.software__value--indesign
		div.software__inner
			p.software__name.software__name--html-css Html&Css3
			div.software__value.software__value--html-css