.drop-down__wrap {
	display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 30%;
}

.drop-down__button {
	border: none;
    background: red;
    height: 25px;
}

.drop-down__select {
	width: 186px;
    border: none;
    background: #eee;
    padding: 5px 10px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #888;
    border-radius: 5px 0 0 5px;
}

.drop-down__button {
	border: none;
    background: #4eb7a8;
    width: 33px;
    height: auto;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.drop-down__icon {
	margin-top: 3px;
}

.options.hidden {
    width: 100%;
    visibility: hidden;
    display: flex;
    height:0;
    flex-direction: column;
}

.options.no-hidden {
    visibility: visible;
    height: auto;
} 

.options__item {
    padding: 5px 10px;
    color: #fff;
    background: #4eb7a8;
}
