.search {
    width: 60%;
    margin: auto;
}

.search__title {
	/*общие стили*/
	margin-bottom: 5%;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 42px;
	color: #4f4f4f;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.search__wrap {
	display: flex;
    margin: auto;
    width: 30%;
    margin-bottom: 20px;
}

.search__button {
	border: none;
    background: red;
    height: 25px;
}

.search__input {
	width: 225px;
    border: none;
    background: #eee;
    padding: 5px 10px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #888;
    border-radius: 5px 0 0 5px;
}

.search__input--error {
    color: #ffffff;
    background: #e75735;
}

/* webkit */
.search__input--error::-webkit-input-placeholder {
    color: #fff;
}

/* Firefox 19+ */
.search__input--error::-moz-placeholder {
   color: #fff;
}

/* Firefox 18- */
.search__input--error:-moz-placeholder {
    color: #fff;
}

/* IE */
.search__input--error:-ms-input-placeholder {
    color: #fff;
}

.search__button {
	border: none;
    background: #e75735;
    width: 33px;
    height: auto;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.search__icon {
	margin-top: 3px;
}

.search-error {
	color: #ffffff;
	background: #e75735;
}