html,
body {
	margin: 0;
	padding: 0;
}

.flex-wrapper {
	border: 1px solid red;
	/////////////
	display: flex;
}

.sidebar {
	border: 1px solid green;
	/////////////////
	width: 45%;
}

.content {
	border: 1px solid pink;
	////////////////
	display: flex;
	flex-direction: column;
}