.standart-buttons__title {
	margin-top: 10%;
	margin-bottom: 5%;
	// общие стили
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 42px;
	color: #4f4f4f;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.standart-buttons__inner {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 68%;
	margin: auto;
}

.standart-button {
	position: relative;
	width: 150px;
	height: 60px;
	padding-top: 9px;
	font-weight: 600;
    text-transform: uppercase;
    background: none;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: url(../images/cur.png), auto;

	&--green {
		width: 210px;
	    font-size: 21px;
		color: #4eb7a8;
	    border: 1px solid #4eb7a8;
	    border-bottom: 5px solid #4eb7a8;

	    &:hover {
			color: #ffffff;
		    border: 1px solid #4eb7a8;
		    background: #4eb7a8;
		    border-bottom: 4px solid #28a290;
		}

		&:active {
			border: 0;
		}
	}

	&--red {
		width: 210px;
	    font-size: 21px;
		color: #e75735;
	    border: 1px solid #e75735;
	    border-bottom: 5px solid #e75735;

	    &:hover {
			color: #ffffff;
		    border: 1px solid #e75735;
		    background: #e75735;
		    border-bottom: 4px solid #bf3e1f;
		}

		&:active {
			border: none;
		}
	}

	&--small {
		width: 140px;
    	height: 40px;
    	padding-top: 6px;
    	font-size: 18px;
    	border-bottom: 3px solid;
	}

	& .no-active {
		position: absolute;
		width: 80px;
		height: 80px;
		background: rgba(238, 238, 238, 0.3);
		border-radius: 50%;
		opacity: 0;
		z-index: -1;
	}

	& .active {
		animation: effect_dylan 0.8s ease-out;
		transform: scale(0.001, 0.001);
		opacity: 1;
		z-index: 1;
	}
}
// анимация при нажатии на кнопку
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
}

@media (max-width: 1100px) {
	.standart-buttons__inner {
		display: block;
	}

	.standart-button {
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/