doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,900|Source+Sans+Pro" rel="stylesheet")
		link(href="app.css" rel="stylesheet")
	body.flex-wrapper
		include components/sidebar/sidebar
		include components/content/content
