.toggles__title {
	margin-top: -12px;
	/*общие стили*/
	margin-bottom: 5%;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 42px;
	color: #4f4f4f;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}


.toggle-button-cover
{
	display: table-cell;
    position: relative;
    height: 60px;
    box-sizing: border-box;
}

.button-cover
{
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 3px 0 #e7efef;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button.r
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 35px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #eeeeee;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{   content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    padding: 9px 4px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .knobs::after {
    content: 'OFF';
    position: absolute;
    top: 12px;
    right: 10px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: '';
    left: 42px;
    background-color: #ffffff;
}

#button-1 .checkbox:checked + .knobs:after
{   content: 'ON';
    position: absolute;
    top: 12px;
    left: -18px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #4eb7a8;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}